name: Golang Workflow

on:
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: ["api-gateway", "cinema-service", "booking-service"]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Golang
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.11"
          cache: true

      - name: Install Dependency
        run: go mod tidy
        working-directory: ${{ matrix.project }}

      - name: Run Tests
        run: go test -v -race ./...
        working-directory: ${{ matrix.project }}

      - name: Run go vet
        run: go vet ./...
        working-directory: ${{ matrix.project }}

      - name: Build Project
        run: make build
        working-directory: ${{ matrix.project }}

  staticcheck:
    needs: build-test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: ["api-gateway", "cinema-service", "booking-service"]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run staticcheck
        uses: dominikh/staticcheck-action@v1
        with:
          version: "latest"
          working-directory: ${{ matrix.project }}

  vulncheck:
    needs: build-test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: ["api-gateway", "cinema-service", "booking-service"]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: 1.24.11
          work-dir: ${{ matrix.project }}
          go-package: ./...

  coverage:
    needs: build-test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: ["api-gateway", "cinema-service", "booking-service"]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.11"

      - name: Generate coverage profile
        run: go test -race -coverprofile=coverage.out -covermode=atomic ./...
        working-directory: ${{ matrix.project }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ${{ matrix.project }}/coverage.out
          token: ${{ secrets.CODECOV_TOKEN }}

  security:
    needs: [build-test, staticcheck, vulncheck, coverage]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: ["booking-service", "cinema-service", "api-gateway"]

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.11"

      - name: running golang security
        continue-on-error: true
        uses: securego/gosec@master
        with:
          args: ./${{ matrix.project }}/...
